.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.searchbar {
  background-color: white;
  border: 1px solid #80808057;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  line-height: 36px;
  margin-top: 4px;
  overflow: hidden;
  padding: 0px 6px;
  position: relative;
  width: 100%;

  &:hover {
    border: 2px solid black;
  }

  mat-icon {
    color: black;
  }
}

.title {
  color: grey;
  font-weight: 500;
  left: 50%;
  margin-left: 10px;
  opacity: 1;
  position: absolute;
  transition: 0.3s;
  transform: translateX(-50%);
  
  &--animate {
    opacity: 0;
    transform: translate(-50%);
  }
}

.search-icon-center {
  left: 50%;
  opacity: 1;
  position: absolute;
  transition: 0.3s;
  transform: translateX(-40px);
  
  &--animate {
    opacity: 0;
  }
}

.search-icon {
  left: -50px;
  opacity: 0;
  position: absolute;
  transition: 0.3s;

  &--animate {
    opacity: 1;
    transform: translateX(50px);
  }
}

.close-icon {
  color: grey !important;
  opacity: 0;
  position: absolute;
  right: -50px;
  transition: 0.3s;

  &--animate {
    opacity: 1;
    transform: translateX(-50px);
  }

  &:hover {
    color: black !important;
    transform: translateX(-50px);
  }
}

.show {
  opacity: 1;
  width: 100%;
  z-index: 10;
}

.input-container {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 42px;
  position: relative;
}

input {
  border: 0;
  box-sizing: border-box;
  display: flex;
  margin: 0px 36px;
  opacity: 0;
  outline: none;
  transition: 0.2s ease-in-out;
  z-index: -10;
}

label {
  align-items: center;
  box-sizing: border-box;
  cursor: text;
  display: flex;
  font-size: 1rem;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.2s ease-in-out;
}

input,
label {
  height: 36px;
}


input:valid + label,
input:focus + label {
  font-size: 0.8rem;
  top: -30px;
  // pointer-events: none;
}

.spacer {
  margin: 0px 10px;
}

#send {
  margin-right: 10px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
  border-radius: 5px;
}
