.theme {
  padding-bottom: 18px;
  width: 40px;
}

.button-select-theme {
  display: flex;
  align-items: center;
  color: black;
  width: 130px;
  min-width: 130px;
  text-align: left;
}

.smallest-icon {
  color: black;
  height: 1em;
  width: 1em;
  font-size: 1em;
  margin-left: 4px;
}