.button-settings {
  cursor: pointer;
  &--dark {
    color: white;
  }

  &--light {
    color: black;
  }
}
.theme {
  padding-bottom: 18px;
  width: 40px;
}

.button-select-theme {
  align-items: center;
  color: black;
  display: flex;
  min-width: 130px;
  text-align: left;
  width: 130px;
}

.smallest-icon {
  color: black;
  font-size: 1em;
  height: 1em;
  margin-left: 4px;
  width: 1em;
}