.container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.header {
  display: flex;
  width: 100%;
}

.user-list {
  align-items: center;
  /*border-radius*/
    border-bottom:1px solid #cac6c4;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
  display: flex;
  justify-content: center;
  margin: auto;
  position:relative;
  /*box-shadow*/
    -webkit-box-shadow:0 5px 25px rgba(0,0,0,.15);
    -moz-box-shadow:0 5px 25px rgba(0,0,0,.15);
    box-shadow:0 5px 25px rgba(0,0,0,.15);
  width:550px;

  &--dark {
    background: #FA6800;
  }

  &--light {
    background: white;
  }
}

.type-search {
  min-width: 225px;
  width: 20%;
}

.search-bar {
  width: 70%;
}

.set-themes {
  width: 10%;
  margin-top: 14px;
  margin-left: 20px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  border: 2px 0;
  margin: 0;
  padding: 0.5em 0 0.5em;
}