<div class="container">
  <div class="header">
    <div class="type-search">
      <mat-form-field appearance="outline">
        <mat-select [(ngModel)]="typeSearch">
          <mat-option *ngFor="let type of types" (click)="changeTypeSearch()" [value]="type.value">{{type.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="search-bar">
      <app-searchbar></app-searchbar>
    </div>
    <div class="set-themes">
      <app-theme></app-theme>
    </div>
  </div>
  <git-card></git-card>
</div>