.container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.header {
  display: flex;
  width: 100%;
}

.type-search {
  min-width: 225px;
  width: 20%;
}

.search-bar {
  width: 70%;
}

.set-themes {
  width: 10%;
  margin-top: 14px;
  margin-left: 20px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  border: 2px 0;
  margin: 0;
  padding: 0.5em 0 0.5em;
}