.container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.header {
  display: flex;
  width: 100%;
}

.user-list {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  width:550px;
  position:relative;
  opacity:.8;
  margin: auto;
  /*border-radius*/
  -webkit-border-radius:8px;
     -moz-border-radius:8px;
          border-radius:8px;
  border-bottom:1px solid #cac6c4;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
  /*box-shadow*/
  -webkit-box-shadow:0 5px 25px rgba(0,0,0,.15);
     -moz-box-shadow:0 5px 25px rgba(0,0,0,.15);
          box-shadow:0 5px 25px rgba(0,0,0,.15);
}

.type-search {
  width: 20%;
  min-width: 225px;
}

.search-bar {
  width: 70%;
}

.set-themes {
  width: 10%;
}


::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  margin: 0;
  border: 2px 0;
  padding: 0.5em 0 0.5em;
}