.person {
  align-items: center;
  display: flex;
  height: 150px;
  justify-content: flex-start;
  padding-left: 20px;
  width:530px;
  
  &--dark {
    background: #FA6800;
    color: white;
  }

  &--light {
    color: #616b74;
  }


  &__image {
    border-radius: 50%;
    cursor: pointer;
    height: 60px;
    width: 60px;
  }

  &__informations {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }

  &__name {
    cursor: pointer;
    display: flex;
    font-size: 21px;
    text-transform: uppercase;
    &:hover {
      text-decoration: underline;
    }
  }

  &__name--dark {
    color: #616b74;
  }

  &__name--light {
    color: #FA6800;
  }

  &__following {
    cursor: pointer;
    font-size: 15px;
    &:hover {
      text-decoration: underline;
    }
  }

  &__like-languages {
    display: flex;
    flex-direction: column;
  }

  &__languages {
    cursor: pointer;
    word-break: break-all;
    &:hover {
      text-decoration: underline;
    }
  }
}

.line {
  margin: 0px;
}

.star {
  margin-left: 10px;
}

