.person {
  width:530px;
  height: 150px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  padding-left: 20px;
  color: #616b74;

  &__image {
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }

  &__informations {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }

  &__name {
    display: flex;
    font-size: 21px;
    text-transform: uppercase;
    color: #FA6800;
  }

  &__following {
    font-size: 15px;
  }

  &:hover {
    body {
      color: white;
    }
    background-color: #FA6800;
    color: white;
    .person__name {
      color: white;
    }
    .person__chip {
      background-color: white;
      color: #3847A0;
      font-weight: bold;
    }
  }
}

.line {
  margin: 0px;
}

.star {
  margin-left: 10px;
}

